<%- include('partials/header') %>

<div class="container">

  <div class="row">
    <!--FORM-->
   

    <!-- LIST -->
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>User</th>
            
            <th>Time</th>
            <th>Duration</th>
            <th>Aplication Name</th>
            
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i <= register.length-1; i++) { %>
            <tr>
             
              <td><strong><%= register[i].userName %></strong></td>
              <td><%= register[i].time %></td>
              <td><%= register[i].duration %></td>
              <td><%= register[i].aplicationName %></td>

             
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>